<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id			= "es.minimol.canvasapp"
	version 	= "1.3.0">

	<name>Medical Cloud</name>

	<description>
		HTML 5 Canvas App
	</description>

	<author href="http://example.com"
		email="demo@example.com">
		Example User
	</author>

	<gap:platforms>
                <gap:platform name="ios" />
	</gap:platforms>

    <preference name="prerendered-icon" value="true" />
    <gap:splash src="hor.png" width="768" height="1004"/>
    <gap:splash src="ver.png" width="1024" height="748"/>
    <icon src="icon.png" />
</widget>
